*{
    margin: 0%;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #D0D0D0;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section {
    display: flex;
    width: 400px;
    height: 200px;
    flex-direction: column;
    background-color: #828282;
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: #5C5C5C69 4px 4px 8px;
}

.number{
    background-color: #D0D0D0;
    width: 140px;
    padding: 3px;
    border-radius: 3px;
    font-size: 1em;
    letter-spacing: 0.03em;
    color: #313237;
    height: 20px;
}

.firstNumber{
    border: none;
    height: 30px;
    border-radius: 2px;
    outline: none; 
    color: #313237;
    font-size: 1.2em;
    padding-left: 5px;
    background-color: #eeeeee;
    margin-top: 3px;   
}

.check{
    background-color: #5C5C5C;
    width: 70px;
    margin: 4px 4px;
    border: none;
    border-radius: 3px;
    padding: 3px;
    color: #c9c8c8;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    cursor: pointer;
} 

.result {
    z-index: 10;
    background-color: #8f8d8d93;
    border-radius: 4px;
    padding: 4px 3px;
    letter-spacing: 0.04em;
    font-size: 1.05em;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    height: 20px;
}


.flist {
    border-radius: 3px;
    outline: none;
    display: flex;
    flex-direction: column;
}